body {
    background-image: url("../image/akatsukinozin_vol1_header.jpg");
    background-repeat: repeat;
    background-position: 50% 80%;
}

img.main {
    max-width: 100%;
}

img.album_jacket {
    width: 300px;
    height: auto;
    text-align: center;
}

img.icon_link:hover {
    transition-duration:0.3s;
    opacity: 0.8;
}

p {
    font-size: 20px;
    font-family: sans-serif;
}

p.album_title {
    margin: 10px 20px 20px;
    text-align: center;
}

p.CDtitle {
    padding: 20px 10px;
    font-size: 30px;
    font-weight: bold;
}

p.footer {
    color: white;
    font-size: 18px;
    margin: 10px 0;
}

header {
    background-color: rgba(0, 0, 0);
}

h1 {
    font-size: 70px;
    font-family: sans-serif;
}

h1.sofme {
    color: rgb(172, 172, 172);
    padding: 10px 0 5px 5px;
}

@media screen and (max-width:768px){
    h1.sofme {
        color: rgb(172, 172, 172);
        font-size: 30px;
    }
}

h1.title {
    margin-top: 50px;
    margin-left: 60px; 
    margin-right: 50px;
    margin-bottom: 50px;
    padding-right: 30px;
    text-align: left;
    font-size: 110px;
    float: left;
    color: white;
    font-family: 'HGP行書体', '游明朝';
    text-shadow: 0 0 10px rgb(80, 80, 80);
}

@media screen and (max-width:1024px){
    h1.title {
        margin-left: auto;
        margin-right: auto; 
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0;
        text-align: center;
        font-size: 110px;
        float: none;
        color: white;
        font-family: 'HGP行書体', '游明朝';
        text-shadow: 0 0 10px rgb(80, 80, 80);
    }
}

@media screen and (max-width:768px){
    h1.title {
        margin-left: auto;
        margin-right: auto; 
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0;
        text-align: center;
        font-size: 110px;
        float: none;
        color: white;
        font-family: 'HGP行書体', '游明朝';
        text-shadow: 0 0 10px rgb(80, 80, 80);
    }
}


h2 {
    font-family: sans-serif;
    text-align: center;
    font-size: 50px;
    margin: 10px 0px 40px;
}

div.maincontent {
    margin: auto;
    background-color: rgba(64, 60, 78, 0.685);
}

div.event_informetion {
    padding: 320px 0;
    background-color: rgba(19, 16, 20, 0.774);
}

@media screen and (max-width:768px){
    div.event_informetion {
        padding: 180px 0;
        background-color: rgba(19, 16, 20, 0.774);
    }
}

div.event_informetion_cover {
    overflow: hidden;
    width: 1024px;
    margin: auto;
}

@media screen and (max-width:1024px){
    div.event_informetion_cover {
        overflow: hidden;
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width:768px){
    div.event_informetion_cover {
        overflow: hidden;
        width: 100%;
        margin: auto;
    }
}

div.album_wrap {
    overflow: hidden;
    padding: 40px 0;
}

div.album_information_wrap {
    width: 960px;
    overflow: hidden;
    margin: auto;
}

@media screen and (max-width:1024px){
    div.album_information_wrap {
        width: 100%;
        overflow: hidden;
        margin: auto;
    }
}

@media screen and (max-width:768px){
    div.album_information_wrap {
        width: 100%;
        overflow: hidden;
        margin: auto;
    }
}

div.holding_information {
    margin-top: 50px;
}

@media screen and (max-width:1024px){
    div.holding_information {
        width: 345px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 50px;
    }
}

@media screen and (max-width:768px){
    div.holding_information {
        width: 345px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 50px;
    }
}

div.album_information {
    text-align: center;
    width: 480px;
    float: left;
}

@media screen and (max-width:1024px){
    div.album_information {
        width: 384px;
        overflow: hidden;
        margin: auto;
    }
}

@media screen and (max-width:768px){
    div.album_information {
        text-align: center;
        width: 100%;
        float: none;
    }
}

div.crossfade {
    width: 960px;
    margin: auto;
    padding: 10px 0;
}

@media screen and (max-width:1024px){
    div.crossfade {
        width: 768px;
        margin: auto;
        padding: 10px 0;
    }
}

@media screen and (max-width:768px){
    div.crossfade {
        width: 100%;
        margin: auto;
    }
}

div.track_wrap {
    overflow: hidden;
    margin: auto;
    width: 960px;
    padding: 50px 21px;
    padding-left: 41px;
}

@media screen and (max-width:1024px){
    div.track_wrap {
        overflow: hidden;
        margin: auto;
        width: 100%;
        padding: 40px 0;  
        padding-left: 0;
    }
}

@media screen and (max-width:768px){
    div.track_wrap {
        overflow: hidden;
        margin: auto;
        width: 100%;
        padding: 40px 0;  
        padding-left: 0;
    }
}

div.block_track {
    overflow: hidden;
    float: left;
}

@media screen and (max-width:1024px){
    div.block_track {
        float: none;
        max-width: 768;
    }
}

div.Disc {
    overflow: hidden;
    width: 480px;
}

@media screen and (max-width:1024px){
    div.Disc {
        overflow: hidden;
        width: 480px;
        margin: auto;
    }
}

@media screen and (max-width:767px){
    div.Disc {
        overflow: hidden;
        width: 480px;
        margin: auto;
    }
}

@media screen and (max-width:480px){
    div.Disc {
        overflow: hidden;
        width: 360px;
        margin: auto;
    }
}

@media screen and (max-width:360px){
    div.Disc {
        overflow: hidden;
        width: 320px;
        margin: auto;
    }
}

div.track {
    overflow: hidden;
    padding-bottom: 20px;
    width: 480px;
    float: left;
}

@media screen and (max-width:768px){
    div.track {
        overflow: hidden;
        padding-bottom: 20px;
        width: 100%;
        float: none;
    }
}

div.staff_wrap {
    margin: auto;
    background-color: rgba(253, 253, 253, 0.85); 
    border: solid rgb(221, 221, 221);
    border-width: 1px;
    width: 1278px;
    padding: 50px 0 60px;
}

@media screen and (max-width:1300px){

    div.staff_wrap {
        margin: auto;
        background-color: rgba(253, 253, 253, 0.85); 
        border: solid rgb(221, 221, 221);
        border-width: 1px;
        width: 1022px;
        padding: 50px 0 60px;
    }

}

@media screen and (max-width:1024px){
    div.staff_wrap {
        margin: auto;
        background-color: rgba(253, 253, 253, 0.85); 
        border: solid rgb(221, 221, 221);
        border-width: 1px;
        width: 768px;
        padding: 50px 0 60px;
    }
}

@media screen and (max-width:768px){
    div.staff_wrap {
        margin: auto;
        background-color: rgba(253, 253, 253, 0.85); 
        border: solid rgb(221, 221, 221);
        border-width: 1px;
        width: 100%;
        padding: 50px 0 60px;
    }
}

div.icon_wrap {
    width: 160px;
    margin: auto;
}

section {
    margin: 0 0 60px;
}

section.event_informetion {
    background-image: url("../image/akatsukinozin_vol2_jacket.png");
    background-position: 40% 40%;
    background-attachment: fixed;
    margin: 0;
    overflow: hidden;
}

section.album {
    width: 1278px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-color: rgba(253, 253, 253, 0.85); 
    border: solid rgb(221, 221, 221);
    border-width: 1px;
    padding: 10px 0 30px;
}

@media screen and (max-width:1300px){

    section.album {
        width: 1022px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        background-color: rgba(253, 253, 253, 0.85); 
        border: solid rgb(221, 221, 221);
        border-width: 1px;
        padding: 10px 0 30px;
    }

}

@media screen and (max-width:1024px){
    section.album {
        width: 768px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        background-color: rgba(253, 253, 253, 0.85); 
        border: solid rgb(221, 221, 221);
        border-width: 1px;
        padding: 10px 0 30px;
    }
}

@media screen and (max-width:768px){
    section.album {
        width: 100%;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        background-color: rgba(253, 253, 253, 0.85); 
        border: solid rgb(221, 221, 221);
        border-width: 1px;
        padding: 10px 0 30px;
    }
}

section.credit {
    margin: 60px 0 0;
    padding-bottom: 60px;
}

table.track {
    width: 470px;
    float: left;
}

@media screen and (max-width:768px){
    table.track {
        float: none;
        width: 480px;
    }
}

@media screen and (max-width:480px){
    table.track {
        float: none;
        width: 360px;
    }
}

@media screen and (max-width:360px){
    table.track {
        float: none;
        width: 320px;
    }
}

th, td {
    font-family: sans-serif;
}

.Disc_No {
    width: 10px;
    padding-left: 10px;
}

.Sound_title {
    width: 10px;
}


.composer {
    width: 10px;
}


table.holding_information {
    margin-left: 5px;
}

table.holding_information td {
    text-align: left;
    font-size: 20px;
    padding: 7px 10px 0;
    color: white;
}

@media screen and (max-width:768px){
    table.holding_information td {
        text-align: left;
        font-size: 12px;
        padding: 7px 10px 0;
        color: white;
    }
}

table.track th, td {
    text-align: left;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (max-width:768px){
    table.track th, td {
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media screen and (max-width:414px){
    table.track th, td {
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media screen and (max-width:350px){
    table.track th, td {
        font-size: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

table.track th.CDtitle {
    padding: 20px 10px;
    font-size: 30px; 
}

table.track tr:hover {
    transition-duration:0.3s;
    background-color: rgb(235, 38, 87);
    color: white;
}

table.staff tr:hover {
    transition-duration:0.3s;
    background-color: rgb(235, 38, 87);
    color: white;
}

table.staff {
    margin: auto;
}

td.staff{
    font-size: 20px;
    padding: 5px 5px;
}

@media screen and (max-width:768px){
    td.staff {
        font-size: 18px;
        padding: 5px 5px;
    }
}

footer {
    text-align: center;
    overflow: hidden;
    background-color: rgb(235, 38, 87);
    padding: 50px 0px 50px;
}

a.sofme {
    text-decoration: none;
}

a.icon {
    float: left;
    padding: 16px;
}
