.calendar-date {
  margin-top: 50px;
}

.author {
  color: #7e7e7e;
}

.probootstrap-card .probootstrap-card-text {
  padding: 10px;
}

.slides-text {
  max-width: 800px;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  font-size: 22px;
}

table thead th {
  color: #2e7d32 !important;
  padding-bottom: 10px;
}

@media screen and (max-width: 640px) {
  table thead th {
    display: none;
  }
}

table .date {
  width: 8%;
  font-weight: 600;
}

@media screen and (max-width: 640px) {
  table .date {
    width: auto;
    margin-top: 40px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 640px) {
  table .color {
    background-color: #52a747;
    border-radius: 5px;
  }
}

table .title {
  width: 62%;
  margin-left: 30px;
}

table .title a {
  color: #000000;
  border-bottom: solid;
  border-width: 1px;
}

table .title a:hover {
  text-decoration: none;
}

table .title a:focus {
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  table .title {
    width: auto;
  }
}

table .icon {
  width: 5%;
}

@media screen and (max-width: 640px) {
  table .icon {
    width: auto;
  }
}

table tr td {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 640px) {
  table tr td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

table tbody .icon {
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 10px;
}

@media screen and (max-width: 640px) {
  table tbody .icon {
    width: auto;
    display: inline;
    margin-left: 30px;
  }
}

table tbody .author {
  width: 20%;
}

@media screen and (max-width: 640px) {
  table tbody .author {
    width: auto;
    display: inline;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 640px) {
  table tbody tr {
    margin-bottom: 20px;
  }
}

table tbody tr td {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin: 30px 30px;
  max-width: 640px;
  word-break: break-all;
}

@media screen and (max-width: 640px) {
  table tbody tr td {
    border: none;
    margin: 5px 10px;
    display: block;
  }
}

table tbody tr td img.icon {
  margin-left: 0;
}

.item h1,
.item h2,
.item h3 {
  font-weight: 700;
  line-height: 1.5;
  font-size: 40px;
  padding: 5px 0;
  margin: 10px 0 30px 0;
}

.item h2,
.item h3 {
  border-bottom: 1px solid #dfe2e5;
}

.item h2 {
  font-weight: 600;
  font-size: 30px;
}

.item h3 {
  font-size: 24px;
}

.item .half {
  width: 49%;
  float: left;
}

@media screen and (max-width: 640px) {
  .item .half {
    width: 100%;
  }
}

.item table {
  display: block;
  width: 100%;
  overflow: auto;
}

.item table th {
  font-weight: 600;
}

.item table th,
.item table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.item table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.item table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.item hr {
  border-top: 3px solid #e2e2e2;
}

.item p a {
  color: #32ab84;
}

.item a {
  color: #38a98b;
}

@media screen and (max-width: 640px) {
  .item {
    margin: 0 10px;
  }
}

.item .img-responsive.frame {
  display: block;
  max-width: 100%;
  height: 360px;
  padding-right: 0;
  padding-left: 0;
}
/*# sourceMappingURL=advent-calender.css.map */